# This is Git's per-user configuration file.
[user]
name = bobert
email = robrob55@bigpond.net.au

[alias]
  adog = log --all --decorate --oneline --graph
  dog = log --decorate --oneline --graph 
  can = commit --amend --no-edit
  pushf = push --force-with-lease
  rim = rebase -i origin/main
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
